h4{
  text-align: center;
}

h5{
  text-align: center;
}

p{
  text-align: center;
}

#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}

#controls {
  /* Appearance */
  background-color: #FF5A5F;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#timeselect{
  /* Appearance */
  background-color: #FF5A5F;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#timeselect:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}






